{% extends 'wrapper.html'%}

{% block content %}
<div class="input-field">
    <form method='post'>
        <div class="form-group">
            <div>
                <label>
                    Title
                    <input class="form-control" type="text" name='title' required/>
                </label>
            </div>
            <br>
            <div>
                <label class="input_field">
                    Blog Post
                        <textArea class="form-control" rows="20" cols="100" name='body' required/></textArea>
                </label>
            </div>
            <br>    
            <div>
                <label class="input_field">
                    <input class="btn btn-default" type="submit" value='Publish'  />
                </label>
            </div>
        </div>
    </form>
</div>

{% endblock %} 